// #FFF04C yellow
// #11A5A5 light sea green
// #03134C oxford blue

// --------------------
// Definition of variables
$primary: #11A5A5;
$marginBottomNavbar: 20px;
$navbarHeight: 60px;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }
}

.MainNavbar {
  min-height: $navbarHeight;
  // margin-bottom: $marginBottomNavbar;
  background-color: rgba($color: red, $alpha: 0.5)!important;
  .logo {
    height: 40px;
    padding-bottom: 4px;
  }
  .navbar-brand {
    padding: 4px 0 0 0;
  }
  .nav-link{
    color:black!important;
  }
}

// --------------------
// Style for Post component
.Post {
  p {
    font-size: 1.2em;
  }
}

.Posts {
  margin-top: -$marginBottomNavbar;

  .row {
    height: calc(100vh - #{$navbarHeight});
    
    .col-text {
      padding: 20px;
      overflow-y: scroll;

      h2 {
        text-align: center;
      }

      h4 {
        margin-top: 40px;
      }
    }

    .map {
      height: 100%;
      // height: calc(100vh - #{$navbarHeight});
    }
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

//___________________
// Style profile page
.profilePage {
  display:flex;
  flex-direction: column;
  h2 {
    padding: 10px;
    align-self: center;
  }
  .bottomBox{
    display: flex;
    justify-content: space-around;
    .rightBox{
      border: 1px solid black;
      padding: 40px;
    }
    .leftBox{
      width: 370px;
      border: 1px solid black;
      padding: 40px;
    }
  }
}
body, html {
  height: 100%;
}

.Home { 
  /* The image used */
  background-image: url("https://78.media.tumblr.com/4e656893030c0464629362fdc50fc005/tumblr_og7ko2IuXz1sxzvapo1_500.jpg");

  /* Full height */
  height: calc(100vh - 2*#{$navbarHeight});

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .card-body{
  width: 50vw
} */

.feli{
  height: calc(100vh - #{$navbarHeight});
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}